@import './variables.scss';

.book-item-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0 $mainPadding;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;

  .book-info-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0;

    .book-category {
      width: 3.063rem;
      padding: 0;
      margin: 0;
      opacity: 0.5;
      font-family: Montserrat, Arial, sans-serif;
      font-size: 0.875rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #121212;
    }

    .book-title {
      width: 12.313rem;
      padding: 0;
      margin: 0.25rem 0;
      font-family: RobotoSlab, Arial, sans-serif;
      font-size: 1.375rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      color: #121212;
    }

    .book-author {
      width: 6.688rem;
      padding: 0;
      margin: 0;
      font-family: RobotoSlab, Arial, sans-serif;
      font-size: 0.875rem;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4386bf;
    }

    .button-container {
      margin: 1rem 0 0 0;

      button {
        height: 1.188rem;
        margin: 0;
        padding: 0.5rem;
        font-family: RobotoSlab, Arial, sans-serif;
        font-size: 0.875rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4386bf;
        border: none;
        background-color: #fff;
        cursor: pointer;
      }

      span {
        width: 0.125rem;
        height: 1.5rem;
        border: solid 1px #e8e8e8;
      }
    }
  }

  .progress {
    width: 4.25rem;
    height: 4.25rem;
  }

  .progress-text-container {
    display: flex;
    flex-direction: column;

    .persentage-text {
      font-family: Montserrat, Arial, sans-serif;
      font-size: 2rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #121212;
    }

    .completed-text {
      opacity: 0.5;
      font-family: Montserrat, Arial, sans-serif;
      font-size: 0.875rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #121212;
    }
  }

  .progress-chapter-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .current-chapter-text {
      opacity: 0.5;
      font-family: RobotoSlab, Arial, sans-serif;
      font-size: 0.813rem;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #121212;
    }

    .chapter-number-text {
      font-family: RobotoSlab, Arial, sans-serif;
      font-size: 1rem;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      color: #121212;
    }

    .update-progress-btn {
      padding: 0.438rem 1.188rem 0.5rem 1.375rem;
      border-radius: 3px;
      border: none;
      background-color: #0290ff;
      font-family: RobotoSlab, Arial, sans-serif;
      font-size: 0.813rem;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      text-align: center;
      color: #fff;
    }
  }
}
