@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f6fa;
}

ul {
  list-style: none;
  padding: 0 0;
}

a {
  text-decoration: none;
}

.main-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80vw;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.534);
  background-color: #fafafa;
}
